*{
    margin: 2px;
    padding: 10px;
    box-sizing: border-box;
}
.Projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 10em;
    background-color: rgb(41, 141, 255);
    margin-top: 10px;
    margin-bottom: 10px;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 5rem;
    background-color: rgba(80, 80, 255, 0.137);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
}
.character{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    font-size: 5rem;
    background-color: rgba(80, 80, 255, 0.137);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
}

.aboutme{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    font-size: 5rem;
    background-color: rgba(80, 80, 255, 0.137);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
}

.vocab{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    font-size: 5rem;
    background-color: rgba(80, 80, 255, 0.137);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
}
@media (max-width: 780px) {
    .Projects, .intro, .character, .aboutme, .vocab {
        font-size: 3rem;
        flex: auto;
    }
}